@page "/pop-2008/combo-generator"
@using PoprunsBlazorPages.Pages.Pop2008.ComboGenerator
@inject IJSRuntime Js

<PageTitle>PoP 2008 Combo Generator</PageTitle>

<div class="background-root">
<div class="foreground-root">

<h1>PoP 2008 Combo Generator</h1>

<form @onsubmit="GetCombos">
<div>
	<div class="input-row">
		<label>Enter damage required to kill enemy</label>&nbsp;
		<input type="number" min="@Generator.MinHp" required @bind="_hp"/>
	</div>

	<div class="input-row">
		<label>Select enemy</label>&nbsp;
		<select required @bind="_enemy">
			<option value="">--</option>
			<option>@Enemy.Hunter</option>
			<option>@Enemy.Concubine</option>
			<option>@Enemy.Alchemist</option>
			<option>@Enemy.Dad</option>
		</select>
	</div>

	<div class="input-row">
		<label>Can start with B0?</label>&nbsp;
		<input type="checkbox" @bind="_canStartWithB0"/>
	</div>
</div>
<br/>
<div class="button">
	<button type="submit">Generate Combo</button>
</div>
<br/>
<div class="output">
	<label>@_combos</label>
</div>
</form>

</div>
</div>

@code {
	private int? _hp;
	private Enemy? _enemy;
	private bool _canStartWithB0 = true;

	private string _combos = string.Empty;

	private void GetCombos() => _combos = Generator.GetCombos((int)_hp!, (Enemy)_enemy!, _canStartWithB0);

	protected override async Task OnInitializedAsync()
	{
		await Js.SetFavicon("https://www.speedrun.com/static/theme/9wp0mv83/favicon.png?v=67ce752");
		await base.OnInitializedAsync();
	}
}